html {
  font-size: 10px;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 2.8vw;
  }
}

body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-image: url("../public/images/tile-32.png");
  background-size: 7rem 14rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "ExoThin";
  src: url("../public/fonts/exo-thin.otf") format("opentype");
}

:root {
  --cardBGColor: #f2f2f2;
  --cardBorderColor: #1698d9;
  --cardBorderColorDisabled: #b3b3b3;
  --cardBorderColorChosen: #e52e7a;
  --cardHeight: 48rem;
  --cardWidth: 32rem;
  --cardBorderWidth: 0.8rem;
}
